.search_bar{
    display: flex;
    justify-content: center;

}

.mount_list{
    display: flex;
    border: solid;
    margin-top: 10%;
    height: 80%;
    background-color: rgb(104, 102, 102);
    color: whitesmoke;
    border-color: rgb(179, 153, 4);

}
body{
    background-image: url("https://wallpapers.com/images/hd/ff14-heavensward-knights-bycyxsqrved73dwp.jpg");
    background-size: 100%;  
}

#search-button{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReM_FDF4zEXnn3vnQs_TE1XDFa7KU9RZrcZ-CEGOun39Mm9IIjSTz7i9r3NIKmGsw2jrQ&usqp=CAU");
    height:25px;
    width:25px;
    background-size: contain;
}

#mount_image{
    border: solid;
    background-color: aliceblue;
    border-color: black; 
}

#mount_info{
    list-style: none;
}

